@using EndPointCommerce.RazorTemplates.ViewModels

@model OrderConfirmationViewModel

<section class="py-1">
    <div class="container px-4 px-lg-5 my-5">
        <h1>Thank you for your order!</h1>

        <h1>Order details</h1>

        <div class="card mb-2 p-3">
            <div class="row">
                <div class="col-md">
                    Order placed on: <a href="@Model.GetOrderUrl()">@Model.AsLongDate(Model.Order.DateCreated)</a>
                </div>
                <div class="col-md">
                    Order #: <a href="@Model.GetOrderUrl()">@Model.Order.Id</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    Status: @Model.Order.Status.Name
                </div>
                <div class="col-md">
                    Tracking #: @(Model.Order.TrackingNumber ?? "N/A")
                </div>
            </div>
        </div>

        <div class="row m-0">
            <div class="card col-md me-md-2 mb-2 p-3">
                <h3>Shipping Address</h3>
                <p class="my-0">@Model.Order.ShippingAddress.FullName</p>
                <p class="my-0">@Model.Order.ShippingAddress.Street</p>
                @if (!string.IsNullOrEmpty(Model.Order.ShippingAddress.StreetTwo))
                {
                    <p class="my-0">@Model.Order.ShippingAddress.StreetTwo</p>
                }
                <p class="my-0">@Model.Order.ShippingAddress.City, @Model.Order.ShippingAddress.State?.Abbreviation @Model.Order.ShippingAddress.ZipCode</p>
                @if (!string.IsNullOrEmpty(Model.Order.ShippingAddress.PhoneNumber))
                {
                    <p class="my-0">@Model.Order.ShippingAddress.PhoneNumber</p>
                }
            </div>
            <div class="card col-md me-md-2 mb-2 p-3">
                <h3>Billing Address</h3>
                <p class="my-0">@Model.Order.BillingAddress.FullName</p>
                <p class="my-0">@Model.Order.BillingAddress.Street</p>
                @if (!string.IsNullOrEmpty(Model.Order.BillingAddress.StreetTwo))
                {
                    <p class="my-0">@Model.Order.BillingAddress.StreetTwo</p>
                }
                <p class="my-0">@Model.Order.BillingAddress.City, @Model.Order.BillingAddress.State?.Abbreviation @Model.Order.BillingAddress.ZipCode</p>
                @if (!string.IsNullOrEmpty(Model.Order.BillingAddress.PhoneNumber))
                {
                    <p class="my-0">@Model.Order.BillingAddress.PhoneNumber</p>
                }
            </div>
            <div class="card col-md mb-2 p-3">
                <h3>Summary</h3>

                <p class="my-0">Subtotal: @Model.AsCurrency(Model.Order.Subtotal)</p>
                @if (Model.Order.Discount > 0)
                {
                    <p class="my-0">Discount: @Model.AsCurrency(Model.Order.Discount)</p>
                }
                <p class="my-0">Tax: @Model.AsCurrency(Model.Order.Tax)</p>
                <p class="my-0">Grand Total: @Model.AsCurrency(Model.Order.Total)</p>
            </div>
        </div>

        @foreach (var item in Model.Order.Items)
        {
            <div class="card mb-2 p-3">
                <div class="row g-0">
                    <div class="col-md-4 text-center">
                        @if (item.Product.HasMainImage)
                        {
                            <img
                                class="img-fluid rounded"
                                src="@Model.GetProductImageUrl(item.Product.MainImage)"
                                alt="@item.Product.Name"
                            />
                        }
                        else
                        {
                            <img
                                class="img-fluid rounded"
                                src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg"
                                alt="@item.Product.Name"
                            />
                        }
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text fs-4">@item.Quantity x @item.Product.Name</p>
                            <p class="card-text">SKU: @item.Product.Sku</p>
                            <p class="card-text">$@Model.AsCurrency(item.Total)</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
