@page "{id:int}"
@model ProductModel
@{
    ViewData["Title"] = "Product Details";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6">
                @if (!string.IsNullOrEmpty(Model.Product.ThumbnailImageUrl))
                {
                    <img
                        class="card-img-top mb-5 mb-md-0"
                        src="@Model.Product.ThumbnailImageUrl"
                        alt="@Model.Product.Name"
                    />
                }
                else
                {
                    <img
                        class="card-img-top mb-5 mb-md-0"
                        src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg"
                        alt="@Model.Product.Name"
                    />
                }
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: @Model.Product.Sku</div>
                <h1 class="display-5 fw-bolder">@Model.Product.Name</h1>
                <div class="fs-5 mb-5">
                    @if (Model.Product.IsDiscounted)
                    {
                        <span class="text-decoration-line-through">$@Model.Product.BasePrice</span>
                        <span>$@Model.Product.DiscountedPrice</span>
                    }
                    else
                    {
                        <span>$@Model.Product.BasePrice</span>
                    }
                </div>
                <p class="lead">
                    @Html.Raw(Model.Product.Description)
                </p>

                <form method="post">
                    <div class="d-flex">
                            <input
                                asp-for="ProductQuantity"
                                type="number"
                                min="1"
                                class="form-control text-center me-3"
                                style="max-width: 5rem"
                            />
                            <button
                                type="submit"
                                asp-page-handler="AddToQuote"
                                asp-route-productId="@Model.Product.Id"
                                class="btn btn-outline-dark flex-shrink-0"
                            >
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>

                    <div>
                        <span asp-validation-for="ProductQuantity" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
