@using EndPointEcommerce.RazorTemplates.ViewModels

<LayoutView Layout="@typeof(MainLayout)">

<table class="p-5" role="presentation" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="line-height: 24px; font-size: 16px; margin: 0; padding: 20px;" align="left">
        <div class="m-5">
          <h1 class="text-2xl" style="padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; font-size: 24px; line-height: 28.8px; margin: 0;" align="left">Thank you for your order!</h1>
          <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
            <tbody>
              <tr>
                <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                  &#160;
                </td>
              </tr>
            </tbody>
          </table>
          <h1 class="text-2xl" style="padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; font-size: 24px; line-height: 28.8px; margin: 0;" align="left">Order details</h1>
          <table class="s-5 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
            <tbody>
              <tr>
                <td style="line-height: 20px; font-size: 20px; width: 100%; height: 20px; margin: 0;" align="left" width="100%" height="20">
                  &#160;
                </td>
              </tr>
            </tbody>
          </table>
          <table class="card  p-3" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid #e2e8f0;" bgcolor="#ffffff">
            <tbody>
              <tr>
                <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0; padding: 12px;" align="left" bgcolor="#ffffff">
                  <div class="row" style="margin-right: -24px;">
                    <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
                      <tbody>
                        <tr>
                          <td class="col-6" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 50%; margin: 0;" align="left" valign="top">
                            Order placed on: <a href="@Model.GetOrderUrl()" style="color: #0d6efd;">
                              @Model.AsLongDate(Model.Order.DateCreated)
                            </a>
                          </td>
                          <td class="col-6" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 50%; margin: 0;" align="left" valign="top">
                            Order #: <a href="@Model.GetOrderUrl()" style="color: #0d6efd;">
                              @Model.Order.Id
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row" style="margin-right: -24px;">
                    <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
                      <tbody>
                        <tr>
                          <td class="col-6" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 50%; margin: 0;" align="left" valign="top">
                            Status: @Model.Order.Status.Name
                          </td>
                          <td class="col-6" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 50%; margin: 0;" align="left" valign="top">
                            Tracking #: @(Model.Order.TrackingNumber ?? "N/A")
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
            <tbody>
              <tr>
                <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
                  &#160;
                </td>
              </tr>
            </tbody>
          </table>

          <!-- START TOTAL -->
          <table class="card  p-3" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid #e2e8f0;" bgcolor="#ffffff">
            <tbody>
              <tr>
                <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0; padding: 12px;" align="left" bgcolor="#ffffff">
                  <div class="row" style="margin-right: -24px;">
                    <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
                      <tbody>
                        <tr>
                          <td class="col" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; margin: 0;" align="left" valign="top">
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">Subtotal: @Model.AsCurrency(Model.Order.Subtotal)</p>
                            @if (Model.Order.Discount > 0)
                            {
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">Discount: @Model.AsCurrency(Model.Order.Discount)</p>
                            }
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">Tax: @Model.AsCurrency(Model.Order.Tax)</p>
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">Grand Total: @Model.AsCurrency(Model.Order.Total)</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
            <tbody>
              <tr>
                <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
                  &#160;
                </td>
              </tr>
            </tbody>
          </table>
          <!-- END TOTAL -->

          <!-- START ADDRESSES -->
          <div class="row gap-2 row-responsive" style="margin-right: -8px; margin-bottom: -8px;">
            <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
              <tbody>
                <tr>
                  <td class="col-lg-4" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 8px; width: 33.333333%; padding-bottom: 8px; margin: 0;" align="left" valign="top">
                    <table class="card  p-3" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid #e2e8f0;" bgcolor="#ffffff">
                      <tbody>
                        <tr>
                          <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0; padding: 12px;" align="left" bgcolor="#ffffff">
                            <h3 class="text-xl" style="padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; font-size: 20px; line-height: 24px; margin: 0;" align="left">Shipping Address</h3>
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.ShippingAddress.FullName</p>
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.ShippingAddress.Street</p>
                            @if (!string.IsNullOrEmpty(Model.Order.ShippingAddress.StreetTwo))
                            {
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.ShippingAddress.StreetTwo</p>
                            }
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.ShippingAddress.City, @Model.Order.ShippingAddress.State?.Abbreviation @Model.Order.ShippingAddress.ZipCode</p>
                            @if (!string.IsNullOrEmpty(Model.Order.ShippingAddress.PhoneNumber))
                            {
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.ShippingAddress.PhoneNumber</p>
                            }
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                      <tbody>
                        <tr>
                          <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
                            &#160;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td class="col-lg-4" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 8px; width: 33.333333%; padding-bottom: 8px; margin: 0;" align="left" valign="top">
                    <table class="card  p-3" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid #e2e8f0;" bgcolor="#ffffff">
                      <tbody>
                        <tr>
                          <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0; padding: 12px;" align="left" bgcolor="#ffffff">
                            <h3 class="text-xl" style="padding-top: 0; padding-bottom: 0; font-weight: 500; vertical-align: baseline; font-size: 20px; line-height: 24px; margin: 0;" align="left">Billing Address</h3>
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.BillingAddress.FullName</p>
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.BillingAddress.Street</p>
                            @if (!string.IsNullOrEmpty(Model.Order.BillingAddress.StreetTwo))
                            {
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.BillingAddress.StreetTwo</p>
                            }
                            <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.BillingAddress.City, @Model.Order.BillingAddress.State?.Abbreviation @Model.Order.BillingAddress.ZipCode</p>
                            @if (!string.IsNullOrEmpty(Model.Order.BillingAddress.PhoneNumber))
                            {
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.Order.BillingAddress.PhoneNumber</p>
                            }
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
                      <tbody>
                        <tr>
                          <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
                            &#160;
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- END ADDRESSES -->

          @foreach (var item in Model.Order.Items)
          {
            <table class="card  p-3" role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-radius: 6px; border-collapse: separate !important; width: 100%; overflow: hidden; border: 1px solid #e2e8f0;" bgcolor="#ffffff">
              <tbody>
                <tr>
                  <td style="line-height: 24px; font-size: 16px; width: 100%; margin: 0; padding: 12px;" align="left" bgcolor="#ffffff">
                    <div class="row" style="margin-right: -24px;">
                      <table class="" role="presentation" border="0" cellpadding="0" cellspacing="0" style="table-layout: fixed; width: 100%;" width="100%">
                        <tbody>
                          <tr>
                            <td class="col-4 text-center" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 33.333333%; margin: 0;" align="center" valign="top">
                              @if (item.Product.HasMainImage)
                              {
                                <img class="img-fluid rounded" src="@Model.GetProductImageUrl(item.Product.MainImage)" alt="@item.Product.Name" style="height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; max-width: 100%; width: 100%; border-radius: 4px; border-style: none; border-width: 0;" width="100%">
                              }
                              else
                              {
                                <img class="img-fluid rounded" src="https://dummyimage.com/300x300/dee2e6/6c757d.jpg" alt="@item.Product.Name" style="height: auto; line-height: 100%; outline: none; text-decoration: none; display: block; max-width: 100%; width: 100%; border-radius: 4px; border-style: none; border-width: 0;" width="100%">
                              }
                            </td>
                            <td class="col-8" style="line-height: 24px; font-size: 16px; min-height: 1px; font-weight: normal; padding-right: 24px; width: 66.666667%; margin: 0;" align="left" valign="top">
                              <p class="text-xl" style="line-height: 24px; font-size: 20px; width: 100%; margin: 0;" align="left">@item.Quantity x @item.Product.Name</p>
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">SKU: @item.Product.Sku</p>
                              <p style="line-height: 24px; font-size: 16px; width: 100%; margin: 0;" align="left">@Model.AsCurrency(item.Total)</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="s-2 w-full" role="presentation" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" width="100%">
              <tbody>
                <tr>
                  <td style="line-height: 8px; font-size: 8px; width: 100%; height: 8px; margin: 0;" align="left" width="100%" height="8">
                    &#160;
                  </td>
                </tr>
              </tbody>
            </table>
          }
        </div>
      </td>
    </tr>
  </tbody>
</table>

</LayoutView>

@code {
  [Parameter]
  public OrderConfirmationViewModel Model { get; set; } = default!;
}