@page
@model EndPointCommerce.AdminPortal.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Categories";
}

@section styles {
    <link rel="stylesheet" href="~/node_modules/simple-datatables/dist/style.css" />
}

<div class="container-fluid px-4">
    <div class="row py-4">
        <div class="col">
            <h2><i class="fas fa-icons"></i> Categories</h2>
        </div>
        <div class="col">
            <a asp-page="Create" class="btn btn-primary float-end" role="button">
                <i class="fa-solid fa-folder-plus"></i>
                Add a new category
            </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <table id="table-categories">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].IsEnabled)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].UrlKey)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Categories[0].DateModified)
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories) {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.IsEnabled)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.UrlKey)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.DateModified)
                        </th>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-link p-0" role="button">
                                <i class="fa-solid fa-pen-to-square"></i> Edit
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/node_modules/simple-datatables/dist/umd/simple-datatables.js"></script>
    <script src="~/js/categories.index.js" asp-append-version="true"></script>
}
