@page "/checkout/shipping"

@using System.ComponentModel.DataAnnotations
@using EndPointCommerce.WebStoreSpa.Api
@using EndPointCommerce.WebStoreSpa.Identity
@using EndPointCommerce.WebStoreSpa.State

@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationState
@inject IApiClient ApiClient
@inject QuoteStateContainer QuoteState

<PageTitle>Shipping - End Point Commerce</PageTitle>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1>Checkout</h1>

        <EditForm Model="ShippingInput" method="post" OnSubmit="HandleOnSubmit">
            <ObjectGraphDataAnnotationsValidator />

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fa-solid fa-circle-info"></i>
                    Contact Information
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="Email" class="form-label">Email</label>
                        <InputText @bind-Value="ShippingInput.Email" id="Email" class="form-control" />
                        <ValidationMessage For="() => ShippingInput.Email" class="text-danger" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-circle-info"></i>
                            Shipping Address
                        </div>
                        <div class="card-body">
                            <AuthorizeView>
                                <Authorized Context="auth_context">
                                    <div class="row mb-3">
                                        <div class="input-group">
                                            <InputSelect
                                                @bind-Value="UseShippingAddressId"
                                                class="form-select"
                                                aria-label="Choose from your address book"
                                            >
                                                <option selected>Choose from your address book...</option>
                                                @foreach (var address in Addresses)
                                                {
                                                    <option value="@address.Id">
                                                        @address.FullName, @address.Street, @address.City
                                                    </option>
                                                }
                                            </InputSelect>

                                            <button
                                                @onclick="UseSelectedShippingAddress"
                                                class="btn btn-outline-dark"
                                                type="button"
                                            >
                                                Use this address
                                            </button>
                                        </div>
                                    </div>
                                </Authorized>
                            </AuthorizeView>

                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="ShippingAddress_Name" class="form-label">First Name</label>
                                    <InputText
                                        @bind-Value="ShippingInput.ShippingAddress.Name"
                                        id="ShippingAddress_Name"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.ShippingAddress.Name" class="text-danger" />
                                </div>
                                <div class="col-6">
                                    <label for="ShippingAddress_LastName" class="form-label">Last Name</label>
                                    <InputText
                                        @bind-Value="ShippingInput.ShippingAddress.LastName"
                                        id="ShippingAddress_LastName"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.ShippingAddress.LastName" class="text-danger" />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="ShippingAddress_Street" class="form-label">Street (line 1)</label>
                                <InputText
                                    @bind-Value="ShippingInput.ShippingAddress.Street"
                                    id="ShippingAddress_Street"
                                    class="form-control"
                                />
                                <ValidationMessage For="() => ShippingInput.ShippingAddress.Street" class="text-danger" />
                            </div>
                            <div class="mb-3">
                                <label for="ShippingAddress_StreetTwo" class="form-label">Street (line 2)</label>
                                <InputText
                                    @bind-Value="ShippingInput.ShippingAddress.StreetTwo"
                                    id="ShippingAddress_StreetTwo"
                                    class="form-control"
                                />
                                <ValidationMessage For="() => ShippingInput.ShippingAddress.StreetTwo" class="text-danger" />
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="ShippingAddress_City" class="form-label">City</label>
                                    <InputText
                                        @bind-Value="ShippingInput.ShippingAddress.City"
                                        id="ShippingAddress_City"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.ShippingAddress.City" class="text-danger" />
                                </div>
                                <div class="col-6">
                                    <label for="ShippingAddress_StateId" class="form-label">State</label>
                                    <InputSelect @bind-Value="ShippingInput.ShippingAddress.StateId" class="form-control">
                                        @foreach (var state in States)
                                        {
                                            <option value="@state.Id">@state.Name</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="() => ShippingInput.ShippingAddress.StateId" class="text-danger" />
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <label for="ShippingAddress_ZipCode" class="form-label">Zip Code</label>
                                    <InputText
                                        @bind-Value="ShippingInput.ShippingAddress.ZipCode"
                                        id="ShippingAddress_ZipCode"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.ShippingAddress.ZipCode" class="text-danger" />
                                </div>
                                <div class="col-6">
                                    <label for="ShippingAddress_PhoneNumber" class="form-label">Phone Number</label>
                                    <InputText
                                        @bind-Value="ShippingInput.ShippingAddress.PhoneNumber"
                                        id="ShippingAddress_PhoneNumber"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.ShippingAddress.PhoneNumber" class="text-danger" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fa-solid fa-circle-info"></i>
                            Billing Address
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="form-check">
                                        <InputCheckbox
                                            @bind-Value="ShippingInput.UseShippingAsBilling"
                                            id="UseShippingAsBilling"
                                            class="form-check-input"
                                        />
                                        <label class="form-check-label" for="UseShippingAsBilling">
                                            Use shipping address
                                        </label>
                                    </div>
                                </div>
                            </div>

                            @if (!ShippingInput.UseShippingAsBilling)
                            {
                                <AuthorizeView>
                                    <Authorized Context="auth_context">
                                        <div class="row mb-3">
                                            <div class="input-group">
                                                <InputSelect
                                                    @bind-Value="UseBillingAddressId"
                                                    class="form-select"
                                                    aria-label="Choose from your address book"
                                                >
                                                    <option selected>Choose from your address book...</option>
                                                    @foreach (var address in Addresses)
                                                    {
                                                        <option value="@address.Id">
                                                            @address.FullName, @address.Street, @address.City
                                                        </option>
                                                    }
                                                </InputSelect>

                                                <button
                                                    @onclick="UseSelectedBillingAddress"
                                                    class="btn btn-outline-dark"
                                                    type="button"
                                                >
                                                    Use this address
                                                </button>
                                            </div>
                                        </div>
                                    </Authorized>
                                </AuthorizeView>

                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="BillingAddress_Name" class="form-label">First Name</label>
                                        <InputText
                                            @bind-Value="ShippingInput.BillingAddress.Name"
                                            id="BillingAddress_Name"
                                            class="form-control"
                                        />
                                        <ValidationMessage For="() => ShippingInput.BillingAddress.Name" class="text-danger" />
                                    </div>
                                    <div class="col-6">
                                        <label for="BillingAddress_LastName" class="form-label">Last Name</label>
                                        <InputText
                                            @bind-Value="ShippingInput.BillingAddress.LastName"
                                            id="BillingAddress_LastName"
                                            class="form-control"
                                        />
                                        <ValidationMessage For="() => ShippingInput.BillingAddress.LastName" class="text-danger" />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="BillingAddress_Street" class="form-label">Street (line 1)</label>
                                    <InputText
                                        @bind-Value="ShippingInput.BillingAddress.Street"
                                        id="BillingAddress_Street"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.BillingAddress.Street" class="text-danger" />
                                </div>
                                <div class="mb-3">
                                    <label for="BillingAddress_StreetTwo" class="form-label">Street (line 2)</label>
                                    <InputText
                                        @bind-Value="ShippingInput.BillingAddress.StreetTwo"
                                        id="BillingAddress_StreetTwo"
                                        class="form-control"
                                    />
                                    <ValidationMessage For="() => ShippingInput.BillingAddress.StreetTwo" class="text-danger" />
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="BillingAddress_City" class="form-label">City</label>
                                        <InputText
                                            @bind-Value="ShippingInput.BillingAddress.City"
                                            id="BillingAddress_City"
                                            class="form-control"
                                        />
                                        <ValidationMessage For="() => ShippingInput.BillingAddress.City" class="text-danger" />
                                    </div>
                                    <div class="col-6">
                                        <label for="BillingAddress_StateId" class="form-label">State</label>
                                        <InputSelect @bind-Value="ShippingInput.BillingAddress.StateId" class="form-control">
                                            @foreach (var state in States)
                                            {
                                                <option value="@state.Id">@state.Name</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="() => ShippingInput.BillingAddress.StateId" class="text-danger" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label for="BillingAddress_ZipCode" class="form-label">Zip Code</label>
                                        <InputText
                                            @bind-Value="ShippingInput.BillingAddress.ZipCode"
                                            id="BillingAddress_ZipCode"
                                            class="form-control"
                                        />
                                        <ValidationMessage For="() => ShippingInput.BillingAddress.ZipCode" class="text-danger" />
                                    </div>
                                    <div class="col-6">
                                        <label for="BillingAddress_PhoneNumber" class="form-label">Phone Number</label>
                                        <InputText
                                            @bind-Value="ShippingInput.BillingAddress.PhoneNumber"
                                            id="BillingAddress_PhoneNumber"
                                            class="form-control"
                                        />
                                        <ValidationMessage For="() => ShippingInput.BillingAddress.PhoneNumber" class="text-danger" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-outline-dark">Proceed to Payment</button>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</section>

@code {
    private class ShippingInputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = string.Empty;

        [ValidateComplexType]
        public Address ShippingAddress { get; set; } = new();

        [ValidateComplexType]
        public Address BillingAddress { get; set; } = new();

        public bool UseShippingAsBilling { get; set; } = true;
    }

    private List<State> States { get; set; } = new();

    private ShippingInputModel ShippingInput { get; set; } = new ShippingInputModel();

    private List<Address> Addresses = new();

    private int UseShippingAddressId { get; set; } = 0;
    private int UseBillingAddressId { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        States = await ApiClient.GetStates();

        await QuoteState.LoadQuote();

        if (QuoteState.IsQuoteEmpty)
        {
            Navigation.NavigateTo("/cart");
            return;
        }

        ShippingInput.Email = QuoteState.Quote?.Email ?? string.Empty;
        ShippingInput.ShippingAddress = QuoteState.Quote?.ShippingAddress?.Clone() ?? new();
        ShippingInput.BillingAddress = QuoteState.Quote?.BillingAddress?.Clone() ?? new();

        if (await AuthenticationState.IsUserAuthenticated())
        {
            Addresses = await ApiClient.GetAddresses();
        }
    }

    private void UseSelectedShippingAddress()
    {
        var selectedAddress = Addresses.FirstOrDefault(a => a.Id == UseShippingAddressId);
        if (selectedAddress == null) return;

        ShippingInput.ShippingAddress = selectedAddress.Clone();
    }

    private void UseSelectedBillingAddress()
    {
        var selectedAddress = Addresses.FirstOrDefault(a => a.Id == UseBillingAddressId);
        if (selectedAddress == null) return;

        ShippingInput.BillingAddress = selectedAddress.Clone();
    }

    private async Task HandleOnSubmit(EditContext editContext)
    {
        if (ShippingInput.UseShippingAsBilling)
        {
            ShippingInput.BillingAddress = ShippingInput.ShippingAddress.Clone();
        }

        if (!editContext.Validate()) return;

        await ApiClient.PutQuote(
            ShippingInput.Email,
            ShippingInput.ShippingAddress,
            ShippingInput.BillingAddress
        );

        Navigation.NavigateTo("/checkout/payment");
    }
}