@page
@model Checkout.SuccessModel
@{
    ViewData["Title"] = "Thank you for your order!";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1>Order Summary</h1>

        Thank you for your order! Your order ID is <strong>@Model.Order!.Id</strong>.

        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-circle-info"></i>
                General Information
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label asp-for="Order!.Status" class="form-label"></label>
                        <input asp-for="Order!.Status" class="form-control" disabled/>
                    </div>
                    <div class="col">
                        <label asp-for="Order!.TrackingNumber" class="form-label"></label>
                        <input asp-for="Order!.TrackingNumber" class="form-control" disabled/>
                    </div>
                    <div class="col">
                        <label asp-for="Order!.Total" class="form-label"></label>
                        <input asp-for="Order!.Total" class="form-control" disabled/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        Shipping Address
                    </div>
                    <div class="card-body">
                        <p>@Model.Order.ShippingAddress.Street @Model.Order.ShippingAddress.StreetTwo</p>
                        <p>@Model.Order.ShippingAddress.City, @Model.ShippingAddressState @Model.Order.ShippingAddress.ZipCode</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        Billing Address
                    </div>
                    <div class="card-body">
                        <p>@Model.Order.BillingAddress.Street @Model.Order.BillingAddress.StreetTwo</p>
                        <p>@Model.Order.BillingAddress.City, @Model.BillingAddressState @Model.Order.BillingAddress.ZipCode</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fa-solid fa-circle-info"></i>
                Items
            </div>
            <div class="card-body">
                <ul class="list-group">
                    @foreach (var item in Model.Order.Items)
                    {
                        <li class="list-group-item">
                            <a asp-page="../Product" asp-route-id="@item.Product.Id">
                                @item.Product.Name
                            </a> - Quantity: @item.Quantity
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>
